<div class="blog" ng-controller="blogController">
    <div class="container">
        {% include 'breadcrumb' %}
        <h1 class="blog__t">
            {{ article.title }}
        </h1>
        <div class="blog__meta">
            <div class="blog__date">Published on {{article.created_date | date: "%d MMMM yyyy"}} in</div>
            <div class="list list--tags list--tags-small">
                <a class="list__item" ng-click="setCurrentCategoryFromArticle('{{article.category}}')" ng-bind="'blogs.categories.' + '{{article.category}}' | translate">{{ "blogs.categories." | append: article.category | t }}</a>
            </div>
        </div>
        
        <!-- Blog main -->
        <div class="blog-main">
            <div class="blog-content">
                <div class="blog-hero lazyload" data-bg="{% if article.image_url != '' %}{{ article.image_url }}{% else %}blue-abstract-background.jpg{% endif %}"></div>
                {{ article.content | render }}
                <div class="blog__meta">
                    <div class="list list--tags list--tags-small">
                        {% for tag in article.tags %}
                            {% assign tag_url = '/blog/tag/' | append: tag  %}
                            <a class="list__item" href="{{ tag_url | absolute_url }}">{{ "blogs.tags." | append: tag | t }}</a>
                        {% endfor %}
                    </div>
                    <div class="list list--socials">
                        {% include 'blog-socials' article: article %}
                    </div>
                </div>
            </div>
            {% include 'blog-subscribe' cssClass: 'collapsed', article: article %}
        </div>
        <!-- End Blog main -->

        <div class="posts __responsive">
            <div class="post post-triple post-detail">
                <div class="post-inner disqus">
                    {% include 'disqus' %}
                </div>
            </div>
        </div>
    </div>
</div>
