<div class="blog">
    <div class="container">
        {% include 'breadcrumb' %}
        <h1 class="blog__t">
            {{ article.title }}
        </h1>
        <div class="blog__meta">
            <div class="blog__date">{{ article.created_at | date: "%b %d, %Y" }}</div>
            <div class="list list--tags list--tags-small ml-auto">
                {% for tag in article.tags %}
                    {% assign tag_url = '/blog/tag/' | append: tag  %}
                    <a class="list__item" href="{{ tag_url | absolute_url }}">{{ "blogs.tags." | append: tag | t }}</a>
                {% endfor %}
            </div>
        </div>
        <!-- Blog main -->
        <div class="blog-main">
            <div class="blog-content">
                <div class="blog-hero lazyload" data-bg="{% if article.image_url != '' %}{{ article.image_url | replace: 'https://vcpro.blob.core.windows.net', 'https://ik.imagekit.io/je8lpsqkoi' | append '?tr=w-800,h-352' }}{% else %}blue-abstract-background.jpg{% endif %}"></div>
                {% include 'json-blocks' page: article -%}
                {% include 'article-author' article_author: page_settings.author -%}
                <div class="blog__meta">
                    <div class="list list--tags list--tags-small">
                        {% for tag in article.tags %}
                            {% assign tag_url = '/blog/tag/' | append: tag  %}
                            <a class="list__item" href="{{ tag_url | absolute_url }}">{{ "blogs.tags." | append: tag | t }}</a>
                        {% endfor %}
                    </div>
                    <div class="list list--socials">
                        {% include 'blog-socials' article: article %}
                    </div>
                </div>
            </div>
            {% include 'blog-subscribe' cssClass: 'collapsed', article: article %}
        </div>
        <!-- End Blog main -->

        <div class="posts __responsive">
            <div class="post post-triple post-detail">
                <div class="post-inner disqus">
                    {% include 'disqus' %}
                </div>
            </div>
        </div>
    </div>
</div>
