<div id="{{ block.__id }}" class="section {{block.topPadding}} {{block.bottomPadding}} {{block.backgroundColor}}
    {% if block.topDivider == 'True' %} block--divider-top {% endif %}
    {% if block.bottomDivider == 'True' %} block--divider-bottom {% endif %}">
    <div class="section__inner container">
        {% if block.title != '' %}
            <h2 class="section__t">{{block.title}}</h2>
        {% endif %}
        
        {% if block.subtitle != '' %}
            <p class="section__descr--centered">
                {{block.subtitle}}
            </p>
        {% endif %}
        <ul class="nav nav--customers">
            <li class="nav__item">
                <a href="/case-studies/bosch" class="nav__link">
                    <span class="nav__brand nav__brand--bosch"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--heineken"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--vivint"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies" class="nav__link">
                    <span class="nav__brand nav__brand--volvo"></span>
                </a>
            </li>
            <li class="nav__item">
                <a href="/case-studies/lavazza" class="nav__link">
                    <span class="nav__brand nav__brand--lavazza"></span>
                </a>
            </li>
        </ul>
        <a href="/case-studies" class="btn btn--lg">View Our Customer Showcase</a>
    </div>
</div>